*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{
  color: white;
  height: 100vh;
  background: #212529;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-left{
  flex-basis: 35%;
  
}
.contact-right{
  flex-basis: 60%;

}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color:#ffb742;
  margin-right: 15px;
  font-size: 25px;
}
.social-icon{
  margin-top: 30px;
}
.social-icons a{
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #ababab;
display: inline-block;
transition: transform 0.5s;
}
.social-icons a:hover{
  color:#ffb742;
  transform: translateY(-5px);
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ffb742;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
  
}
.btn:hover{
  background: #ffb742;
}
.btn{
  display: inline-block;
  background:#ffb742;

}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #444444;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form.btn{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
submit{
  margin: 0 0;
}